/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: 'Montserrat', sans-serif;
    background: #fff;
    color: #707070;
}

.title h1 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    text-align: center;
    color: black;
    position: relative;
}

.title span {
    color: #ff6e65;
}

.title h1::after,
.title h1::before {
    content: "";
    background-color: #707070;
    width: 60px;
    height: 2px;
    position: absolute;
    right: 0;
    margin: 0 auto;
}

.title h1::before {
    left: -20px;
    bottom: -8px;
}

.title h1::after {
    left: 20px;
    bottom: -15px;
}

button {
    color: white;
    background-color: #ff6e65;
    padding: 15px 30px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-weight: 500;
    transition: all .5s;
}

button:hover {
    background-color: #0d369e;
}
/* DARK/LIGHT THEME */
#myBody .btn i{
    font-size: 23px;
    color: #0d369e;
    transition: all .3s;
}
#myBody .btn:hover i{
    font-size: 23px;
    color: #ff6e65;
}
#myBody{
    background-color:white;
  }
  #switchButton {
    background-color: white;
  }
  #switchButton .fa-sun {
    display: none;
  }
  #switchButton .fa-moon {
    display: block;
  }
  .dark#myBody{
    background-color:#161c2d;
  }
  .dark #switchButton {
    background-color: #161c2d;
  }
  .dark #switchButton .fa-sun {
    display: block;
    color: #0d369e;
  }
  
  .dark #switchButton .fa-moon {
    display: none;
  }
  .dark .card {
    background-color: white;
    color: white;
  }
#myBody .header-dark-theme{
    background-color: #161c2d;
}
#myBody .feedback-dark-theme{
    background-color: #0f1525;
}
#myBody .top-dark{
    background-color: #4867b0;
}
#myBody .navbar-dark{
    color: white;
    transition: all .5s;
}
#mybody .text-white{
    color: white;
}
#myBody .navbar-dark:hover{
    color: #ff6e65;
}
#myBody .card:hover .card-title{
    color: #ff6e65;
}
#myBody .theme-dark{
    background-color: 
    #161c2d;
    color: white;
}
#myBody .icon-dark{
    background-color: rgb(168 176 195 / 11%);
    color: #4867b0;
}
#myBody .course-dark{
    background-color: #121725;
}
#myBody .info-light{
    color: white;
}
#myBody .info-gray{
    color: #707070;
}
/* HEADER */
.header .header-top {
    padding: 14px 30px;
    background-color: #0d369f;
}

.header .header-top ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.header .header-top li {
    display: inline-block;
    color: white;
    font-size: 15px;
    margin-right: 2rem;
}

.header .header-top li i {
    margin-right: 7px;
}

.header .header-top li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: all 0.5s;
}

.header .header-top a:hover {
    color: #ff6e65;
}

.header-left li:nth-of-type(2) i {
    font-size: 13px;
}

.header-bottom a {
    transition: all 0.5s;
}

.header-bottom a:hover {
    color: #ff6e65;
}

.header-logo img {
    vertical-align: middle;
}

.header-logo a {
    font-size: 26px;
    font-weight: 600;
    color: #0d369e;
}

.header-navbar a {
    font-weight: 600;
    color: black;
}

#myBody .nav-item .active {
    color: #ff6e65;
}

.header-bottom .dropdown-item:focus,
.dropdown-item:hover {
    background-color: transparent;
}

.header-bottom {
    padding: 20px 30px;
    position: -webkit-sticky;
    position: sticky;
    background-color: white;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.smaller {
    padding: 0px 30px;
    border-bottom: none;
    z-index: 999 !important;
    background-color: white;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
    height: 70px;
}

#mynavbar .nav-item a i {
    font-size: 12px;
}

#mynavbar .search-item {
    border: none;
    right: 20px;
    background-color: transparent;
    color: #0d369e;
    font-size: 15px;
    transition: all .5s;
}

#mynavbar .search-item:hover {
    color: #ff6e65;
}

#mynavbar form input {
    font-size: 15px;
    border: none;
    background: transparent;
    padding: 10px 35px 10px 14px;
    width: 100%;
    border-radius: 30px;
    border: 2px solid #eee;
    margin-left: 20px;
}

#mynavbar .form-control:focus {
    color: var(--heading-color);
    background-color: transparent;
    outline: 0;
    box-shadow: none;
}

/* CAROUSEL */
.mycarousel .mycarousel-items {
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    position: relative;
    z-index: 0;
    align-items: center;
    padding: 4em 0;
    min-height: 90vh;
}

.mycarousel .items1 {
    background-image: url(../img/banner2.jpg);
}

.mycarousel .items2 {
    background-image: url(../img/banner1.jpg);
}

.mycarousel .mycarousel-items::before {
    content: "";
    background: linear-gradient(75deg, rgb(16 16 16 / 34%) 10%, rgb(230 2 100 / 0%));
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.mycarousel .mycarousel-text {
    width: 50%;
}

.mycarousel .mycarousel-text h1 {
    font-size: 70px;
    line-height: 80px;
    font-weight: bold;
    color: white;
    margin-bottom: 50px;
}

.mycarousel .mycarousel-items button {
    padding: 14px 30px;
    font-size: 16px;
    font-weight: bold;
    border: transparent;
    background-color: white;
    border-radius: 5px;
    transition: all .5s;
    color: black;
}

.mycarousel .mycarousel-items button:hover {
    background-color: #ff6e65;
    color: white;
}

.owl-theme .owl-dots .owl-dot span {
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    background: white;
    display: block;
    transition: opacity .2s ease;
    border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #ff6e65;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 30px;
    bottom: 30%;
}

/* PRODUCTS */
.products .products-item {
    padding: 50px 35px;
}

.products .row i {
    font-size: 40px;
}

.products .row a {
    font-size: 23px;
    font-weight: 600;
    margin-top: 25px;
    color: white;
    display: block;
    text-decoration: none;
    transition: all .5s;
}

.products .row a:hover {
    color: black;
}

.products .row .item-book {
    transform: skewX(-10deg);
}

.products {
    margin-top: -4rem;
    z-index: 10;
}

/* STUDIOUS */
.studious .studious-item span {
    color: #0d369e;
    font-size: 30px;
    line-height: 70px;
    font-weight: 600;
    width: 70px;
    height: 70px;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: #e9edf6;
}

.studious .studious-text a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    margin: 20px 0;
    display: inline-block;
    transition: all .5s;
}

.studious .studious-text a:hover {
    color: #ff6e65;
}

.studious .studious-text p {
    font-size: 15px;
}

/* COURSE */
.course {
    background-color: #f8f9ff;
}
#myBody .card{
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.course .course-price {
    font-size: 18px;
    font-weight: bold;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    border: 1px solid transparent;
    background-color: #ff6e65;
    color: white;
    position: absolute;
    right: 25px;
    bottom: -25px;
    z-index: 10;
}

.course .btn-top {
    top: 15px;
    left: 30px;
}

.course .btn-top a {
    font-size: 12px;
    color: white;
    text-decoration: none;
    padding: 6px 10px;
    font-weight: 500;
    border-radius: 3px;
    margin-right: 5px;
}

.course .card-body h5 {
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 600;
    transition: all .5s;
    color: black;
    cursor: pointer;
}

.course .card-body h5:hover {
    color: #ff6e65;
}

.course .card-icons {
    margin: 25px 0;
}

.course .card-icons .icon {
    color: black;
}

.course .card-icons i {
    color: #ff6e65;
}

.course .card-rating ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.course .card-rating li {
    display: inline;
}

.course .card-rating a {
    text-decoration: none;
    color: #ffc949;
    font-weight: 600;
    font-size: 14px;
}

.course .card-details a {
    color: #ff6e65;
    transition: all .5s;
}

.course .card-details a:hover {
    color: #0d369e;
}

.course .card-details i {
    font-size: 13px;
}

.course button {
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
}

.course .courser-item {
    padding: 15px;
}

.row {
    margin-left: -30px;
    margin-right: -30px;
    flex-wrap: wrap;
}
/* SERVICES */
.services{
    background-image: url(../img/bg3.jpg);
    background-position: bottom;
    background-size: cover;
}
.services .fea-gd-vv{
    padding: 20px;
}
.col-md-6{
    padding-left: 15px;
    padding-right: 15px;
}
.col-items {
    background-color: white;
    border-radius: 5px;
    padding: 30px;
}
.col-items .icon-service i {
    background: #e9edf6;
    color: #0d369f;
    font-size: 28px;
    background: rgb(13 54 159 / 9%);
    width: 65px;
    height: 66px;
    line-height: 65px;
    border-radius: 50%;
    text-align: center;
    margin-right: 15px;
}
.col-items .icon-info h5{
    font-size: 20px;
    line-height: 30px;
    color: black;
    font-weight: 600;
    margin-bottom: 6px
}
.col-items .icon-info p{
    margin: 0;
padding: 0;
font-size: 14px;
line-height: 28px;
color: #707070;
letter-spacing: .4px;
}
/* NUMBERS */
.numbers .timer{
    font-size: 46px;
    font-weight: 600;
    color: black;
}
.numbers .count-text{
    text-transform: uppercase;
    color: black;
}
/* FEEDBACK */
.feedback .sub-test q::before {
    font-size: 50px;
    color: #ff6e65;
    font-family: initial;
    line-height: .8;
    padding-top: 8px;
    display: inline-block;
}
.feedback .feedback-items{
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
}
.feedback .testi-grid h5{
    font-weight: 600;
    line-height: 16px;
    color: black;
}
.feedback .testi-grid p{
    font-size: 13px;
    margin-bottom: 0;
}
.feedback .sub-test{
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: .4px;
}
/* INSTRUCTOR */
.instructor .card-imgs {
    overflow: hidden;
}
.instructor .icons-contact {
    background: rgb(8 8 8 / 29%);
    width: 100%;
    text-align: center;
    bottom: 0;
    padding: 15px;
    overflow: hidden;
    transform: translateY(100%);
    transition: all .5s;
}
.instructor .card:hover .icons-contact{
    transform: translateX(0);
    transform: translateY(0);
} 
.instructor .icons-contact ul{
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0;
}
.instructor .icons-contact li{
    display: inline;
}
.instructor .icons-contact a{
    text-decoration: none;
    color: #0d369e;
}
.instructor .icons-contact a i{
    background-color: rgb(255, 255, 255);
    width: 28px;
    height: 28px;
    font-size: 13px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid transparent;
    line-height: 28px;
    text-align: center;
    transition: all .5s;
}
.instructor .icons-contact i:hover{
    background-color: rgba(255, 255, 255,0.7);
}
.instructor .card-body h5 a{
    color: black;
    font-weight: 600;
    transition: all .5s;
}
.instructor .card{
    border: none;
    box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
}
.instructor .card:hover .card-body h5 a{
    color: #ff6e65;
}
.instructor .card-body p{
    font-size: 80%;
    font-weight: 400;
    color: #707070;
}
/* CONTACT */
.contact h3{
    font-size: 35px;
    font-weight: 600;
    line-height: 45px;
    color: black;
}
/* FOOTER */
.footer-sub{
    padding: 80px 0;
    background: #060e1f;
}
.footer .main-midd p{
    font-size: 15px;
    color: #707070;
    letter-spacing: 1px;
}
.right-side {
    padding: 45px;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 10px;
    background: white;
    position: absolute;
    left: 0;
    right: 0;
    top: -60px;
    box-shadow: 0px -1px 41px 0px rgb(21 22 23 / 8%);
}
.footer .btn-footer:hover{
    opacity: 0.8;
} 
.footer .sub-columns {
    margin-top: 120px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.w3l-forms-9 h4.title-head {
    font-size: 35px;
    line-height: 40px;
    color: black;
    font-weight: 600;
}
.w3l-forms-9 .rightside-form {
    display: flex;
}
.w3l-forms-9 form.rightside-form input {
    background: transparent;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    color: var(--heading-color);
    width: 100%;
    border-radius: 8px 0px 0px 8px;
    height: 55px;
    border: 1px solid rgb(80 76 76 / 20%);
}
.w3l-forms-9 .rightside-form button {
    background: #0d369f;
    border: none;
    color: #fff;
    padding: 16px 30px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 0 8px 8px 0;
}
.footer h6{
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(23, 54, 88, 0.4);
    padding-bottom: 10px;
    font-weight: bold;
}
.footer .href2 {
    margin: 10px 0;
    padding: 10px 0;
}
.footer a{
    text-decoration: none;
    color: #cecece;
}
.footer p{
    font-size: 14px;
    line-height: 24px;
    color: #cecece;
}
.footer ul{
    padding-left: 0;
}
.footer ul li {
    list-style: none;
}
.footer .sub-two-right ul li span {
    margin-right: 10px;
    color: #fff;
    font-size: 10px;
}
.footer .sub-two-right li a{
    font-size: 14px;
    line-height: 24px;
    color: #cecece;
    margin: 0 0 10px 0;
    display: block;
    transition: all .3s;
}
.footer .sub-two-right li a:hover{
    color: white;
}
.footer .column2 span {
    font-size: 18px;
    color: #fff;
    vertical-align: middle;
    margin-right: 10px;
    width: 25px;
    text-align: center;
}
.footer .column2 a{
    font-size: 15px;
    line-height: 15px;
    transition: all .3s;
}
.footer .column2 a:hover{
    color: white;
}
.footer ul.social li a {
    color: #fff;
    width: 35px;
    height: 35px;
    background: rgba(255, 255, 255, 0.06);
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    margin-right: 10px;
    transition: all .3s;
}
.footer ul.social li a:hover {
    opacity: 0.7;
}
.footer .ab-right-cont {
    border-left: 1px solid rgb(64 73 82 / 51%);
}
.footer .copyright-footer {
    background: #040a17;
    padding: 20px 0;
}
.footer .copyright-footer p{
    margin-bottom: 0;
}
/* BACK TO TO */
#button {
    display: inline-block;
    background-color: #0d369f;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
    box-shadow: -4px 4px 24px -10px #0d369f;
    z-index: 1000;
  }
  #button i{
    line-height: 40px;
    color: white;
    font-size: 13px;
  }
  #button::after {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #button:hover {
    cursor: pointer;
  }
  #button:active {
    background-color: #555;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }
