/* GLOBAL */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}
html, body{
    font-family: 'Montserrat', sans-serif;
    background: #fff;
    color: #707070;
}
/* HEADER */
.header .header-top{
    padding: 14px 30px;
    background-color: #0d369f;
}
.header .header-top ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.header .header-top li{
    display: inline-block;
    color: white;
    font-size: 15px;
    margin-right: 2rem;
}
.header .header-top li i{
    margin-right: 7px;
}
.header .header-top li a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: all 0.5s;
}
.header .header-top a:hover{ 
    color: #ff6e65;   
}
.header .header-left li:nth-of-type(2) i{
    font-size: 13px;
}
.header .header-bottom a{
    transition: all 0.5s;
}
.header .header-bottom a:hover{
    color: #ff6e65;
}
.header .header-logo img{
    vertical-align: middle;
}
.header .header-logo a{
    font-size: 26px;
    font-weight: 600;
    color: #0d369e;
}
.header .header-navbar a{
    font-weight: 600;
    color: black;  
}
.header-bottom .dropdown-item:focus, .dropdown-item:hover{
    background-color: transparent;
}
.header .header-bottom{
    padding: 20px 30px;
}
#mynavbar .nav-item a i{
    font-size: 12px;
}
#mynavbar .search-item{
    border: none;
    right: 20px;
    background-color: transparent;
    color: #0d369e;
    font-size: 15px;
    transition: all .5s;
}
#mynavbar .search-item:hover{
    color: #ff6e65;
}
#mynavbar form input {
    font-size: 15px;
    border: none;
    background: transparent;
    padding: 10px 35px 10px 14px;
    width: 100%;
    border-radius: 30px;
    border: 2px solid #eee;
    margin-left: 20px;
}
#mynavbar .form-control:focus{
    color: #212529;
    background-color: #fff;   
    outline: 0;
    box-shadow: none;
}
/* CAROUSEL */
.mycarousel .mycarousel-items{
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    position: relative;
    z-index: 0;
    align-items: center;
    padding: 4em 0;
    min-height: 90vh;
}
.mycarousel .items1{
    background-image: url(../img/banner2.jpg);
}
.mycarousel .items2{
    background-image: url(../img/banner1.jpg);
}
.mycarousel .mycarousel-items::before{
    content: "";
    background: linear-gradient(75deg, rgb(16 16 16 / 34%) 10%, rgb(230 2 100 / 0%));
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;  
    position: absolute;
    z-index: -1;
}
.mycarousel .mycarousel-text{
    width: 50%;
}
.mycarousel .mycarousel-text h1{
    font-size: 70px;
    line-height: 80px;
    font-weight: bold;
    color: white;
    margin-bottom: 50px;
}
.mycarousel .mycarousel-items button{
    padding: 14px 30px;
    font-size: 16px;
    font-weight: bold;
    border: transparent;
    background-color: white;
    border-radius: 5px;
    transition: all .5s;
}
.mycarousel .mycarousel-items button:hover{
    background-color: #ff6e65;
    color: white;
}
.owl-theme .owl-dots .owl-dot span {
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    background: white;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #ff6e65;
}
.owl-theme .owl-nav.disabled+.owl-dots{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 30px;
    bottom: 30%;
}

